.footer {
    display: flex;
    justify-content: space-between;

    background-color: rgb(211, 209, 209);

    padding: 70px 6% 50px;

    gap: 80px;
}


.footer h3 {
    font-size: 18px;
    font-weight: 400;
    color: #4d4d4d;

    margin-bottom: 30px;
}



.componente1 img{
   width: 100%;
    height: 200px;

    object-fit: cover;

    display: block;

    margin-bottom: 20px;


}

.componente2 img{
   width: 100%;
    height: 200px;

    object-fit: cover;

    display: block;

    margin-bottom: 20px;


}

.componente3 img{
   width: 100%;
    height: 200px;

    object-fit: cover;

    display: block;

    margin-bottom: 20px;


}



.footer p {
    font-size: 13px;
    color: #4d4d4d;

    line-height: 1.1;

    margin-bottom: 25px;
}

.footer button {
    background-color: #f15b3a;

    color: white;

    border: none;
    border-radius: 25px;

    padding: 12px 22px;

    font-size: 13px;

    cursor: pointer;
}

.footer button:hover {
    background-color: #d94d2f;
}